#d1{
	width:300px;
	height:300px;
	background-color:blue;
	border:30px solid white;
	border-radius:100%;
	margin-top:10%;
	margin-left:50%;
	box-shadow:  150px 40px 0px 50px yellow,  -150px 40px 0px 50px green,  0px -150px 0px 50px red;
}